body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 20px;
  text-align: center;
}

#main-content {
  background-color:purple;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  
}

h1 {
  color:black;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 90%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: pink;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

input[type="submit"]:hover {
  background-color: yellow;
}


#list h2 {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

ul#tasks {
  list-style-type:none;
  padding: 0;
}

ul#tasks li {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

